# Default ignored files
/shelf/
/workspace.xml
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
.gitignore
*.iml
*.cmd
src/main/resources/application-*.properties

